<div class="span12">
  <h1>Wyniki wyszukiwania : <%= @bribes.total_entries %></h1>

  <%= render :partial => 'bribes/bribe', :collection => @bribes %>

  <%= will_paginate @bribes, :params => { :query => params[:query] } %>
</div>
