<div class="span6">
  <div class="well">
    <h4>1500 historii korupcji to 5 000 000 zł łapówek</h4>

    <p class="lead">Spróbójmy razem coś zmienić. Może istnieć Państwo bez korupcji. Niech Twoja historia uświadamia i pomaga innym, aby nie zrobili błędu. Opowiedz anonimowo gdzie, jak i kiedy dałeś łapówkę.</p>
  </div>

  <h3>Ostatnie historie</h3>

  <%= render :partial => 'bribes/bribe', :collection => @bribes %>

  <p><%= link_to 'Przeczytaj więcej histori', bribes_path %></p>
</div>

<div class="span6">
  <h3>Korupcja na usługę</h3>
  <div id="chart_u_div"></div>

  <h3>Korupcja na województwo</h3>
  <div id="chart_w_div"></div>

  <h3>Ostatnie komentarze</h3>

  <%= render :partial => 'comments/comment', :collection => @comments %>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Urząd / Usługa', 'Liczba historii'],
      ['Urząd Miejski / Urząd Gminy / Starostwo Powiatowe',     11],
      ['Ministerstwo Administracji i Cyfryzacji',      2],
      ['Policja',  2],
      ['ZUS', 2],
      ['Szpital',    7]
    ]);

    var options = {
      // title: 'Korupcja na usługę'
      legend: { position: 'none' },
      chartArea: { width: 300, height: 300 },
      width: 460,
      height: 320
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_u_div'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Urząd / Usługa', 'Liczba historii'],
      ['Urząd Miejski / Urząd Gminy / Starostwo Powiatowe',     11],
      ['Ministerstwo Administracji i Cyfryzacji',      2],
      ['Policja',  2],
      ['ZUS', 2],
      ['Szpital',    7]
    ]);

    var options = {
      // title: 'Korupcja na usługę'
      legend: { position: 'none' },
      chartArea: { width: 300, height: 300 },
      width: 460,
      height: 320
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart_w_div'));
    chart.draw(data, options);
  }
</script>
