<div class="span8">
  <p class="lead">1500 historii korupcji - 5 000 000 zł łapówek.</p>

  <p class="lead">Spróbójmy razem coś zmienić. Może istnieć Państwo bez korupcji. Niech Twoja historia uświadamia i pomaga innym, aby nie zrobili błędu. Opowiedz gdzie, jak i kiedy dałeś łapówkę.</p>

  <p>[4 zakładki]</p>
  <p>[8-10 ostatnich historii z linkami "czytaj więcej"]</p>
  <p>[link "przeczytaj więcej historii"]</p>
</div>

<div class="span4">
  <p class="lead">Statystyki</p>

  <p>[korupcja na serwis]</p>
  <p>[wykres kołowy i link do większej wersji]</p>

  <p>[ostatnie komentarze]</p>
  <p>[8-10 ostatnich komentarzy z linkami "pokaż"]</p>
</div>
