<div class="span12">
  <h1>O serwisie</h1>

  <p class="lead">Celem Serwisu jest przedstawienie potencjalnego stanu korupcji w Polsce na podstawie zgromadzonych danych umieszczanych przez Użytkowników.</p>
</div>