<div class="span12">
  <h2>Warunki użytkowania serwisu</h2>

  <h4>Postanowienia ogólne</h4>

  <p>1. Niniejszy regulamin określa zasady korzystania z serwisu www.dalemlapowke.pl, zwanego dalej "Serwisem".</p>
  <p>2. Celem Serwisu jest przedstawienie potencjalnego stanu korupcji w Polsce na podstawie zgromadzonych danych umieszczanych przez Użytkowników.</p>

  <h4>Zasady korzystania z Serwisu</h4>
  <p> Publikacje udostępnione w Serwisie są bezpłatne i mają charakter informacyjny.</p>

  <h4>Wyłączenie odpowiedzialności</h4>
  <p>Właściciel Serwisu nie ponosi odpowiedzialności za skutki wynikające z wykorzystania przez użytkownika treści zamieszczonych w Serwisie. Informacje zamieszczone w Serwisie mają charakter informacyjny, tym samym właściciel Serwisu nie ponosi odpowiedzialności za zastosowanie się Użytkownika do informacji zamieszczonych na stronach Serwisu.</p>

  <h4>Prawa i obowiązki użytkownika serwisu</h4>
  <p>Użytkownik ponosi wyłączną odpowiedzialność za zamieszczane przez siebie w serwisie, w szczególności jest odpowiedzialny za ewentualne naruszenie praw lub dóbr osób trzecich oraz szkody z tego tytułu.</p>

  <h4>Zmiana w zakresie ochrony danych osobowych oraz weryfikacja treści zamieszczanych przez Użytkowników</h4>

  <p>Serwis zastrzega sobie prawo do weryfikacji oraz modyfikacji zamieszczonych materiałów przez Użytkowników w celu elimnacji treści wulgarnych oraz naruszających dobra osobiste.</p>

  <h4>W zakresie dopuszczalnym przez prawo</h4>
  <p>Serwis zastrzega sobie prawo do okresowego wyłączania Serwisu bez uprzedniego powiadomienia.</p>


  <h4>Pliki cookies (ciasteczka)</h4>

  <p>Pliki cookie to małe pliki tekstowe wykorzystywane do zapisywania pewnych informacji na Twoim komputerze. Cookies nie są szkodliwe ani dla Ciebie ani dla Twojego komputera i danych, i można je wyłączyć w przeglądarce.</p>

  <h4>Postanowienia końcowe</h4>

  <p>Serwis nie gromadzi i nie udostępnia danych osobowych Użytkowników.</p>

  <p>Niniejszy Regulamin może być w każdej chwili zmieniany przez Serwis. Zmiany będą publikowane na bieżąco w postaci ujednoliconego tekstu Regulaminu na łamach Serwisu wraz z informacją o ich dokonaniu.</p>
  <p>Korzystanie przez Użytkownika z Serwisu oznacza zaakceptowanie postanowień niniejszego regulaminu.</p>

</div>