<div class="span12">
  <%= render :partial => 'bribes/bribe', :object => @bribe, :locals => { :expanded => true } %>

  <% if @comments.any? %>
    <h3>Komentarze</h3>

    <%= render :partial => 'comments/comment', :collection => @comments, :locals => { :expanded => true } %>
  <% end %>

  <h3>Dodaj komentarz</h3>

  <%= render :partial => 'comments/form', :locals => { :comment => @comment } %>

  <hr>
</div>
