<div class="span12">
  <%= render :partial => 'bribes/bribe', :object => @bribe, :locals => { :expanded => true } %>

  <h1>Dodaj komentarz</h1>

  <%= render :partial => 'comments/form', :locals => { :comment => @comment } %>

  <hr>

  <% if @comments.any? %>
    <h4>Komentarze</h4>

    <%= render :partial => 'comments/comment', :collection => @comments, :locals => { :expanded => true } %>
  <% end %>
</div>
