// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-section .span3 img {
  width: 220px;
  height: 120px;
}

.menu-section .btn-group {
  width: 220px;
}

.menu-section .btn-group .dropdown-toggle {
  width: 196px;
}

.menu-section .dropdown-menu {
  width: 220px;
}

.menu-section .span6 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 7px;
}