<footer>
  <p>
    © dalemlapowke.pl 2013 |
    <%= link_to 'O serwisie', about_path %> |
    <%= link_to 'Warunki użytkowania serwisu', terms_path %> |
    <%= link_to 'Kontakt', contact_path %>
  </p>
</footer>