<div class="row">
  <div class="span12">
    <div class="header-left">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>

    <div class="header-right">
      <h2>
        Włącz się w badanie rozmiarów korupcji.
      </h2>
      <h3>
        Umieść anonimowo swoją historię.
      </h3>
    </div>
  </div>
</div>