<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>

<div class="row header-section">
  <div class="span3">
    <%= link_to image_tag('logo.png'), root_path %>
  </div>
  <div class="span9">
    <h2>
      Pokaż rozmiary korupcji,<br/>umieszczając anonimowo swoją historię!
    </h2>
  </div>
</div>