<!DOCTYPE html>
<html>
<head>
  <title>Dałem Łapówkę - dalemlapowke.pl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12055233-9']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container">

    <div class="row top-section">
      <div class="span2">
        [IMG HERE]
      </div>
      <div class="span10">
        <form action="#" class="form-search pull-right">
          <input type="text" class="input-medium search-query" placeholder="Szukana fraza">
          <button type="submit" class="btn">Szukaj</button>
        </form>

        <p>Chronimy <a href="#">Twoją prywatność</a> [link do Warunków użytkowania serwisu]</p>

        <h2>
          <a href="#">
            Pokaż rozmiary korupcji,<br/>
            umieszczając anonimowo swoją historię!
          </a>
        </h2>
      </div>
    </div>

    <div class="row menu">
      <div class="span12">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Dałem łapówkę
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dodaj swoją historię</a></li>
            <li><a href="#">Przeczytaj historię</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Nie dałem łapówki
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dodaj swoją historię</a></li>
            <li><a href="#">Przeczytaj historię</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Przyjąłem łapówkę
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dodaj swoją historię</a></li>
            <li><a href="#">Przeczytaj historię</a></li>
          </ul>
        </div>

        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Nie przyjęto mojej łapówki
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Dodaj swoją historię</a></li>
            <li><a href="#">Przeczytaj historię</a></li>
          </ul>
        </div>

        <a href="#">Pokaż wszystkie historie</a>
      </div>
    </div>

    <div class="row">
      <%= yield %>
    </div>

    <footer>
      <p>
        © dalemlapowke.pl 2013 |
        O serwisie |
        Warunki użytkowania serwisu
      </p>
    </footer>
  </div>
</body>
</html>
